<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="active" v-link="{ path: '/my_page' }"><a href=""><i class="fa fa-circle-o"></i>ダッシュボード</a>
        <li><a href=""><i class="fa fa-circle-o"></i>heat map</a>
          <li class="treeview">
            <a href="">
              <i class="fa fa-circle-o"></i>
              Black List
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="">1  xxxxx</a></li>
              <li><a href="">2  yyyyyy</a></li>
              <li><a href="">3  zzzzzz</a></li>
            </ul>
          </li>
      <li class="treeview">
        <a href="">
          <i class="fa fa-circle-o"></i>
          その他
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="">その他１</a></li>
          <li><a href="">その他２</a></li>
        </ul>
      </li>
    </ul>
    </section>
</aside>
